[environment:init]
DIALOG/autoAcceptDefault=bool:True
[environment:default]
OVESETUP_CONFIG/adminPassword=str:{{ he_admin_password}}
OVESETUP_CONFIG/fqdn=str:{{ he_fqdn }}
OVESETUP_PKI/organization=str:{{ he_cloud_init_domain_name }}